@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.magic {
  background-color: #f7b733;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px 10px rgba(224, 180, 114, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  justify-content: space-between;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://cdn.vox-cdn.com/thumbor/SFU8wqXYsSS_C-6NgerZMePh4Po=/0x15:500x348/1400x1050/filters:focal(0x15:500x348):format(gif)/cdn.vox-cdn.com/uploads/chorus_image/image/36992002/tumblr_lmwsamrrxT1qagx30.0.0.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  width: 125px;
  height: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  position: absolute;
  background-color: #f6e58d;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  position: absolute;
  background-color: #f6e58d;
  height: 15px;
  width: 100%;
  bottom: -15px;
  left: 8px;
  transform: skewX(45deg);
}